/* CSS Code for all the various buttons in the first part of the page */

.main-app {
    text-align: center;
    margin: 50px;
}


/* Base button */
.cta-button {
    border-radius: 22px;
    background: #ffff;
    padding: 15px 35px;
    color: #ffff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    /* Second Nav */
    margin-left: 24px;
}
/* Base button hover */
.cta-button:hover{
    transition: all 0.2s ease-in-out;
    background: #472C4C;
    color: #ffff;
}

.PSM-div {
  text-align: center;
  border-style: solid;
  border-color: #472C4C;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 50px;
  background: #0000;
  white-space: normal;
  width: 200px;
}

.PSM-button {
  border-radius: 10px;
  padding: 15px 35px;
  background: #47B46B;
  white-space: normal;
  width: 200px;
}


/* Connect wallet button - uses standard hover */ 
.connect-wallet-button {
    border-radius: 100px;
    padding: 15px 35px;
    background: #47B46B
}

/* Swap to this when the wallet has been connected */ 
.wallet-connected-button {
    border-radius: 100px;
    padding: 15px 35px;
    background: #472C4C;
}

/* When the wallet is connected: Don't do much when hovering */
.wallet-connected-button:hover{
    border-radius: 10px;
    padding: 15px 10px;
    background: #ffff;
    transition: all 0.2s ease-in-out;
}  

.wallet-connected-button:hover::before{
    border-radius: 0px;
    padding: 0px 0px;
    color: #472C4C;
    display: block;
    font-size: 20px;
    content: "Click to Refresh Wallet Information ";
}

.wallet-connected-button:hover:active{
    color: #472C4C;
}

/*
.wallet-connected-button:hover::before {
    border-radius: 10px;
    padding: 15px 10px;
    color: #472C4C;
    background: #ffff;
    content:"[Click to Refresh] ";
  }
*/


.retrieveInfoBtn {
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 15px 35px;
    color:#ffff;
    background: #47B46B;
}

/* When the wallet is connected: Don't do much when hovering */
.retrieveInfoBtn:hover{
    border-radius: 100px;
    padding: 15px 35px;
    color: #ffff;
    background: #472C4C;
    transition: all 0.2s ease-in-out;
}  


/* Wrap functionality Button - not even gonna fuck with this RN */ 
.wrap-button {
    border-radius: 10px;
    padding: 15px 35px;
    background: #47B46B
    /* 50C878 */
}

/* CSS Code for the form in the bottom section */

form {
    box-sizing: border-box;
    text-align: center;
}

label {
    box-sizing: border-box;
    text-align: center;
}

input[type=number] {
     padding: 10px;
    border-radius: 100px;
    text-align: center;
  }

input[type=submit] {
    color: #ffff;
    background: #47B46B;
    padding: 15px 35px;
    border-radius: 100px;
    text-align: center;
    outline: none;
    border: none;
 }
input[type=submit]:hover {
    color: #ffff;
    background: #472C4C;
}



/* CSS Code for the toggle button in the bottom section */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
   
    -webkit-transition: .4s;
    transition: .4s;
  }

  /* Navbar grey color hex code: b1b1b1 */
  
  .slider:before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 0px;
    bottom: 0px;
    background-color: #47B46B;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #472C4C;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  
  /* Rounded sliders - Unused 
  .slider.round {
    border-radius: 60px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  */